/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ene-2017, 14:21:26
    Author     : elcer
*/

body {
    display: block;
    background: rgb(200,200,210);
    font-family: 'Agency FB';
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

h1 {
    text-align: center;
}

#t1 {
    position: absolute;
    left: 20%;
}

#t1 input[type=text] {
    background: rgb(200,200,210);
    font-family: "TW Cen MT";
    font-size: 24px;
    text-align: justify;
}

#t1 input[type=submit] {
    background: rgb(128,255,255);
    font-family: "Century";
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 140px;
}

#t1 input[type=reset] {
    background: rgb(255,128,128);
    font-family: "Century";
    font-size: 16px;
    position: relative;
    top: 20px;
    left: 160px;
}

#t2 {
    position: absolute;
    left: 20%;
    top: 45%;
}

#t2 input[type=text] {
    position: relative;
    left: 75px;
    background: rgb(200,200,210);
    font-family: "TW Cen MT";
    font-size: 24px;
    text-align: left;
}
